* {
    margin: 0;
    padding: 0;
}

/* input boxes */

.primary-inp {

    padding: 0 10px;
    font-size: 18px;
    height: 40px;
    width: 250px;
    margin-bottom: 20px;

}

/* buttons */
.primary-btn {
    font-size: 18px;
    width: 90px;
    height: 40px;
    background-color: white;
    color: green;
    border-radius: 10px;
}

.primary-btn:hover {
    background-color: lightgrey;
    cursor: pointer;
}

/* header */

header {
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* main */

/* login */

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-header {
    color: green;
    font-size: 30px;
    margin-bottom: 20px;
}

/* bank */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.bank-cards-container {
    width: 650px;
}

.upper-cards { 
    display: grid;
    grid-template-columns: repeat(3,200px);
    height: 130px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.upper-bank-card {
    background-color: green;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    border-radius: 20px;
}

.lower-cards { 
    display: grid;
    grid-template-columns: repeat(2,315px);
    height: 200px;
    justify-content: space-between;
}

.lower-bank-card {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    border-radius: 20px;
}

.bank-header {
    margin-bottom: 20px;
    color: green;
}